html {
    font-size: 62.5%;
  }

body {
    background-color: rgba(10, 61, 95, 1);
    /* background-image: url(images/crscdesign2.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: rgba(0, 115, 174, 0.75);
    margin: 0 auto;
    padding: 50px 10px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width: 150px;
    height: auto;
}
nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none; 
    margin: 0;
    padding: 0;
}

nav li {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 3.0rem;
    text-transform: uppercase;
    padding: 10px;
}

nav a:hover {
    color: rgba(241, 93, 46, 1);
  }

  .hero {
    width: 100vw;
    height: 746px;
    background-color: rgba(80, 202, 245, 0.75);
    background-image: url(images/evantandem.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
  }


  .hero-item {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    /* justify-content: center; */
    align-items: center;
    padding: 50px;
  }

  .hero h1 {
    font-size: 5.0rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 100px;
    text-align: center;
  }

.button-hero {
    font-size: 3.0rem;
    font-weight: 400;
   text-transform: uppercase;
   color: #ffffff;
   border: 2px solid #FFFFFF;
   padding: 16px;
   border-radius: 8px;
   /* height: 41px;
   width: 178px; */
   text-align: center;
}

.button-hero a:hover {
    color: rgba(241, 93, 46, 1);
  }



/* .item1 {
    background-color: rgba(0, 115, 174, 0.75);
    height: 400px;
} */

.item1 p {
    margin: 0;
    /* font-size: 5.0rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 100px;
    text-align: center; */
}

.item2 {
    margin: 0;
    padding: 0;
}

.item3 {
    margin: 0;
    padding: 0;
}

.item4 {
    margin: 0;
    padding: 0;
}

.footer-nav {
    margin: 0;
    padding: 0;
}
/* .item2 {
    background-color: rgba(0, 115, 174, 0.75);
    height: 400px;
}

.item2 p {
    margin: 0;
    font-size: 5.0rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 100px;
    text-align: center;
    border-top: 2px solid white;
}

.item3 {
    background-color:rgba(0, 115, 174, 0.75);
    border-top: 2px solid white;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: 50%;
}

.item3 p {
    flex-wrap: wrap;
    margin: 0;
    font-size: 5.0rem;
    color:#FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 100px;
    text-align: center;

} */
