@font-face {
  font-family: 'destroyregular';
  src: url('assets/DESTROY_-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
    font-size: 62.5%;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: rgba(10, 61, 95, 1);
    background-image: url(images/crscdesign2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
}

header {
    position: fixed;
    z-index: 1001;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-flow:row wrap;
    align-items: center;
    align-content: center;
    background-color: rgba(0, 115, 174, 0.75);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h1 {
    margin: 0;
    padding: 0;
    /* font-family: 'destroyregular';
    line-height: 10rem; */
}

.logo{
    max-width: 125px;
    height: auto;
    padding: 15px;
    z-index: 1001;
}
  
  body {
    background-color: rgba(0, 115, 174, 0.75);
    width: 100vw;
  }


.nav-container{
  max-width: 80;
  padding: 0 2rem;
  margin: 0;
  display:flex;
  position: relative;
}

.logo-container{
  display: flex;
  align-items: center;
  z-index: 1001;
}


.nav-bar{
  position:fixed;
  left: 0;
  width:100%;
  padding: 50px 0;
  background-color:rgba(0, 115, 174, 1);
  display:flex;
  flex-direction: column;
  overflow-x:hidden;
  overflow-y: auto;
  transform: translateX(100%);
  transition: .65s;
}

    #check:checked ~ .nav-bar{
        transform: translateX(0);
    }

    #check:checked ~ .nav-bar .nav-link,
    #check:checked ~ .nav-bar .search-bar{
        animation: animation .5s ease forwards var(--i);
    }

.nav-links{
  width:100%;
}



.nav-links ul{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.nav-link{
  position: relative;
  opacity: 1;
  transform: translateY(15px);
  padding-bottom: 10px;
}

.nav-link > a{
  /* line-height: 1; */
  color: white;
  padding: 1.6rem 2rem;
  letter-spacing: 1px;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link:hover > a{
  transform: scale(1);
  background-color: rgba(10, 61, 95,1);
  color: rgba(241, 93, 46, 1);
  width: 100%;
}

.dropdown{
  position: initial;
  top:initial;
  left:initial;
  transform: initial;
  opacity:1;
  width: 100%;
  padding:0;
  pointer-events: auto;
  width:100%;
  background-color:
/*   display: none; */
}


.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
    display: block;
    background-color:rgba(10, 61, 95,1);
    width: 100%;
}
    .dropdown-link > a{
        color: #fff;
        padding: 2rem 3.5rem;
        line-height: 1;
        font-size: 2.4rem;
    }



.dropdown-link:hover > a{
background-color: transparent;
  width:100%;
  color: rgba(241, 93, 46, 1);
  cursor: pointer;
}

.nav-link:hover > .dropdown, .dropdown-link:hover > .dropdown{
  opacity: 1;
  pointer-events: auto;
}

.hamburger-menu-container{
  flex: 1;
  display: flex;
  align-items:center;
  justify-content: flex-end;
}

.hamburger-menu{
  width: 2.5rem;
  height:2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-menu div{
  width: 1.6rem;
  height:3px;
  border-radius: 8px;
  background-color: white;
  position: relative;
  z-index: 1001;
  transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
  content: '';
  position:absolute;
  width:inherit;
  height: inherit;
  background-color: white;
  border-radius: 3px;
  transition: .5s;
}

.hamburger-menu div:before{
  transform: translateY(-7px);
}

.hamburger-menu div:after{
  transform: translateY(7px);
}

#check{
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height:2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity:0;
/*   adjusting for small screen */
  display: block;
}

#check:checked ~ .hamburger-menu-container
.hamburger-menu div{
  background-color: transparent;
}

#check:checked ~ .hamburger-menu-container
.hamburger-menu div:before{
  transform: translate(0) rotate(-45deg);
}


#check:checked ~ .hamburger-menu-container
.hamburger-menu div:after{
  transform: translate(0) rotate(45deg);
}

/*--------------------- Navigation Media Query ---------------------*/
@media only screen and (min-width: 768px){
  
  #check{
      display: none;
  }

.nav-bar{
  position: initial;
  height: 6rem;
  display: flex;
  background-color: none;
  flex-flow: row nowrap;
  overflow-x:initial;
  overflow-y: initial;
  transform: none;
} 
 
  .nav-links {
    display: flex;
    justify-content: space-between;
  }
  
    .nav-links {
    padding: 0 15px;
  }
  
    .nav-link {
    justify-content: space-around;
    align-items: flex-start;
    float: left;
    list-style: none;
    padding: 0 15px;
  }
  
 .nav-link a {
    display: flex;
    flex-flow: row nowrap;
    color: #ffffff;
    text-transform: uppercase;
    text-align:start;
    font-size: 1.2rem;
    padding: 10px 0;
    text-decoration: none;
  }
  
   .nav-link a:hover {
    color: rgba(241, 93, 46, 1);
  }
  
  .nav-links ul{
    background-color: none;
    justify-content: center;
    flex-flow: row wrap;
    align-items: flex-start;
  }

   .nav-link ul {
    display: none;
    position: absolute;
    background-color: rgba(0, 115, 174, 1); 
    border-radius: 0px 0px 4px 4px;
  }
  
   .nav-link:hover ul {
    background-color: rgba(0, 115, 174, 1); 
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 100%;
  }
  
.dropdown-link {
  width: 100%;
  }
  
  .dropdown-link a {
  padding: 8px 14px;
  }
  
 .dropdown-link a:hover {
  color: rgba(241, 93, 46, 1);
  border-radius: 4px;
  }

  .hamburger-menu-container{
    display: none;
  }
}

/*--------------------- End Navigation ---------------------*/

 .hero video, .video-overlay {
    width: 100%;
    height: 720px;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  
  .video-overlay {
    background-color: rgba(10,61,95,0.7);
  }


/* end video trial */

.hero {
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  text-align: center;
}

  .hero-item {
    align-self: center;
  }

  .hero h1 {
    font-family: 'destroyregular';
    line-height: 6rem;
    font-size: 5.0rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding-top: 200px;
  }

.button-hero {
    font-size: 3.0rem;
    font-weight: 400;
   text-transform: uppercase;
   color: #ffffff;
   border: 2px solid #FFFFFF;
   padding: 16px;
   border-radius: 8px;
   text-align: center;
}

.button-hero a:hover {
    color: rgba(241, 93, 46, 1);
  }

/* PICK YOUR ADVENTURE */
.pickyouradventure-container{
    /* background-color: rgba(80, 202, 245, 0.7); */
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;    
    padding: 15px;
 }

 .pickyouradventure-container h2 {
    color: white;
    font-size: 3.0rem;
    text-align: center;
    background: rgb(246,189,47);
    background: linear-gradient(0deg, rgba(246,189,47,0.9) 3%, rgba(241,93,46,0.9) 42%, rgba(0,115,174,0.7) 98%);
    border-radius: 8px;
    margin: 15px;    
    padding: 8px;
 }

 .adventure-options {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 8px;
    margin: auto;
    padding: 25px;
 }

 .adventure {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 25px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    margin: 8px;
    padding: 15px;
 }


 .adventure p {
text-align: center;
margin: auto;
color: rgba(10,61,95,1);
font-size: 2.4rem;
font-weight: 600;
padding-top: 15px;
line-height: 3rem;
 }

 .adventure img {
    max-width: 250px;
 }

 /* Homepage custom stylings */

#about h3 {
  font-size: 3.6rem;
  color: rgba(10, 61, 95, 1);
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding: 15px;
  padding-top: 0;
}

#upcoming {
  background-color: rgba(0, 115, 174, 0.75);
}

#upcoming h3 {
  font-size: 3.6rem;
  color: rgba(10, 61, 95, 1);
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding: 15px;
  padding-top: 0;
}

 /* Testimonials in homepage styling */

 .reviews-container{
  background-color: rgba(10, 61, 95, 0.5);
  padding: 25px 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  margin: auto;
  padding: 50px;
}

 .reviews {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  padding: 10px;
  margin: 100px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
 }

 /* End Homepage custom stylings */

 /* Start of Footer Widgets */

 .information {
  background-color: rgba(0, 115, 174, 0.75);
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
  align-content: center;
  padding: 10px;
 }

 .information-item {
    border: 10px solid white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 10px;
    border-radius: 8px;
    width: 75%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
    display: flex;
    /* flex-flow: column wrap; */
    /* flex-basis: 100%; */
    flex-basis: 40%;
 }

 .information-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
 }

 /* End of footer widgets */

  /* Tandem Booking page styling */



  .tandem-pricing {
    background-color: rgba(10, 61, 95, 1);
    background: rgb(0,115,174);
    background: linear-gradient(350deg, rgba(0,115,174,0.4) 3%, rgba(0,115,174,0.4) 42%, rgba(0,115,174,0.4) 98%), url(images/evantandem2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    display:flex;
    justify-content: center;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
   }

   .tandem-pricing-hero h2 {
    font-family: 'destroyregular';
    line-height: 6rem;
    font-size: 8.0rem;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;
  }
  
  .tandem-pricing-hero h3 {
      padding: 25px;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
   }
  
   .pricing-info-container {
      background-color: rgba(255, 255, 255, 0.5);
      padding: 25px 0;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
  /*     align-content: flex-start; */
      margin: auto;
      padding: 50px;
   }
  
   .pricing-info{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
   }

   .pricing-info h3{
    font-size: 3.6rem;
    color: rgba(10, 61, 95, 1);
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 15px;
   }

   .pricing-block h4{
    font-size: 2.8rem;
    color: rgba(10, 61, 95, 1);
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    padding: 10px;
   }
   
   .pricing-block p{
    font-size: 2.4rem;
    color: rgba(10, 61, 95, 1);
    /* text-transform: uppercase; */
    font-weight: 300;
    text-align: center;
    padding: 15px;
   }

   .pricing-tiers {
    display: flex;
    justify-content: center;
    align-items: flex-start;
/*     align-content: flex-start; */
    margin: auto;
    padding: 10px;
 }


 /* Trying to figure out how to put a border in between all the middle items. Still working on this one. The following only seems to work for 3 items and then because there are classes it starts adding more in odd spots */
 .pricing-tiers *:not(:first-child):not(:last-child){
  border-left: 1px solid rgba(10, 61, 95, 1);
  border-right: 1px solid rgba(10, 61, 95, 1);
 }

   .pricing-block  {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: 10px;
   }

   
  /* .tandem-pricing h3 {
      font-size: 5.0rem;
      padding-top: 25px;
  }
  
  .tandem-pricing h4 {
      font-size: 1.8rem;
  }
  

   .tandem-pricing a {
      text-decoration: underline;
      font-size: 1.6rem;
      color: #424B5A;
      margin: auto;
      padding-bottom: 50px;
   } */
  
  .button {
    background: rgb(80,202,245);
    background: linear-gradient(171deg, rgba(80,202,245,1) 3%, rgba(0,115,174,0.7) 50%, rgba(10,61,95,1) 89%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 3px solid white; */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    align-self: center;
    font-size: 2.8rem;
    margin: 15px;
    padding: 10px;
    cursor: pointer;
  }
  

  
  .button:hover {
      color: rgba(241, 93, 46, 1);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

   /* End of Tandem Booking */


 /* About us page styling */
 
 .about-hero {
  background-color: rgba(10, 61, 95, 1);
  background: rgb(0,115,174);
  background: linear-gradient(350deg, rgba(0,115,174,0.4) 3%, rgba(0,115,174,0.4) 42%, rgba(0,115,174,0.4) 98%), url(images/thedropzone.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-content: center;
 }

.about-info {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px 0;
}

 .about-hero h2 {
  font-family: 'destroyregular';
  line-height: 6rem;
  font-size: 5.0rem;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding-top: 100px;
}

.about-hero h3 {
  font-family: 'destroyregular';
  line-height: 4rem;
  font-size: 3.0rem;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding: 10px;
}

.about-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
align-content: center;
}

.about-info h4 {
  font-size: 2.4rem;
  color: rgba(10, 61, 95, 1);
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  padding: 15px;
}

.about-info p {
  font-size: 1.8rem;
  color: rgba(10, 61, 95, 1);
  font-weight: 300;
  line-height: 3rem;
  text-align: center;
}

.info-block {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  padding: 15px;
  margin: 25px 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.info-block:nth-child(odd) {
  flex-flow: row-reverse wrap;
}

.about-image {
padding: 25px;
display: flex;
justify-content: center;
flex-flow: column wrap;
}

.about-words {
  padding: 25px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
}

.about-image img {
max-width: 400px;
background: rgb(80,202,245);
background: linear-gradient(171deg, rgba(80,202,245,1) 3%, rgba(0,115,174,0.7) 50%, rgba(10,61,95,1) 89%);
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
padding: 10px;
margin: 10px;
border-radius: 8px;
}

 /* End about us  */

   /* Upcoming Events Homepage styling */

   .upcoming-info {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 25px 0;
  }

   .upcoming-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
  }
  
  .upcoming-info h4 {
    font-size: 2.4rem;
    color: rgba(10, 61, 95, 1);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 15px;
  }
  
  .upcoming-info p {
    font-size: 1.8rem;
    color: rgba(10, 61, 95, 1);
    font-weight: 300;
    line-height: 3rem;
    text-align: center;
  }
  
  .info-block {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    padding: 15px;
    margin: 25px 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .info-block:nth-child(odd) {
    flex-flow: row-reverse nowrap;
  }
  
  .upcoming-image {
    padding: 25px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  }
  
  .upcoming-words {
    padding: 25px;
  }
  
  .upcoming-image img {
    max-width: 400px;
    background: rgb(80,202,245);
    background: linear-gradient(171deg, rgba(80,202,245,1) 3%, rgba(0,115,174,0.7) 50%, rgba(10,61,95,1) 89%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
  }

  /* End Upcoming Events  */

  /* Contact us page styling */

  .contact-hero {
    background-color: rgba(10, 61, 95, 1);
    background: rgb(0,115,174);
    background: linear-gradient(350deg, rgba(0,115,174,0.5) 3%, rgba(0,115,174,0.5) 42%, rgba(0,115,174,0.5) 98%), url(images/Krystal-tandem.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-content: center;
   }

   .contact-hero h2 {
    font-family: 'destroyregular';
    line-height: 6rem;
    font-size: 8.0rem;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;
  }

  .contact-info {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 25px 0;
  }

  .contact-block:nth-child(odd) {
    flex-flow: row-reverse nowrap;
  }

  .contact-info h4 {
    font-size: 2.4rem;
    color: rgba(10, 61, 95, 1);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 15px;
  }
  
  .contact-info p {
    font-size: 1.8rem;
    color: rgba(10, 61, 95, 1);
    font-weight: 300;
    line-height: 3rem;
    text-align: center;
  }
  
  .contact-block {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    padding: 15px;
    margin: 25px 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .contact-image {
    padding: 25px;
  }
  
  .contact-words {
    padding: 25px;
  }
  
  .contact-image img {
    max-width: 400px;
    background: rgb(80,202,245);
    background: linear-gradient(171deg, rgba(80,202,245,1) 3%, rgba(0,115,174,0.7) 50%, rgba(10,61,95,1) 89%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
  }

   /* End contact us  */

   /* Under Construction Styling */

.under-construction {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-content: center;
}

   .construction-hero {
    /* background construction image from UnSplash */
    background-color: rgba(10, 61, 95, 1);
    background: rgb(0,115,174);
    background: linear-gradient(350deg, rgba(0,115,174,0.5) 3%, rgba(0,115,174,0.5) 42%, rgba(0,115,174,0.5) 98%), url(images/under-construction.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-content: center;
    padding: 50px;
   }

   .construction-hero h3 {
    font-family: 'destroyregular';
    line-height: 6rem;
    font-size: 4.0rem;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding-top: 100px;
  }

  .construction-block {
    background-color: rgba(10, 61, 95, 0.5);
    padding: 50px;
  }

  .construction-item {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    padding: 15px;
    margin: 25px 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .construction-item p {
    line-height: 6rem;
    font-size: 2.8rem;
    color: rgba(10, 61, 95, 1);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 50px;
  }

   /* End construction styling */

 @media only screen and (min-width: 500px) {

  .hero h1 {
    font-size: 6.5rem;
    line-height: 8rem;
  }

 }

 @media only screen and (min-width: 642px) {

  .hero h1 {
    font-family: 'destroyregular';
    line-height: 10rem;
    font-size: 8.0rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
  }

  /* .adventure-options {
    flex-flow: row nowrap;
  } */
  .adventure {
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px;
    margin: 10px;
  }
  .adventure p {
    font-size: 2.3rem;
  }

  .adventure img {
    max-width: 400px;
 }
 

 .information {
  padding: 30px;
 }



 }
 @media only screen and (min-width: 768px) {

  .logo {
    max-width: 75px;
    height: auto;
    padding: 15px;
}

    .pickyouradventure-container h2 {
        flex-wrap: column wrap;
        font-size: 5.0rem;
        margin: 15px;    
        padding: 25px;
     }

  .adventure-options {
    flex-flow: row nowrap;
    width: 90%;
  }

     .adventure {
        /* flex-basis: 20%; */
        margin: 15px;
        padding: 15px;
     }

     .adventure p {
        font-size: 2.8rem;
        font-weight: 600;
        padding-top: 15px;
         }

    .adventure img {
        max-width: 200px;
     }
 

 .information {
  background-color: rgba(0, 115, 174, 0.75);
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 50px;
 }

 .information-item {
  flex-basis: 40%;
}
}

 @media (min-width: 860px) {

  .adventure p {
    font-size: 1.8rem;
     }

     .information-item {
  padding-bottom: 30%;
}

 }

 @media (min-width: 911px) {

    /* .hero {
        background-position: top;
    } */
 }

 @media only screen and (min-width: 1024px) {

  .logo {
    max-width: 100px;
    height: auto;
    padding: 15px;
}

        nav ul li a {
          font-size: 2.6rem;
          padding: 10px 0;
          text-decoration: none;
        }

        .hero h1 {
          font-size: 8.0rem;
          line-height: 10rem;
        }

    .adventure {
        justify-content: space-around;
        margin: 15px;
        padding: 15px;
        }

        .adventure img {
          max-width: 250px;
      }

 .adventure p {
  font-size: 2.4rem;
  font-weight: 600;
  padding-top: 15px;
}

  .information-item {
  padding-bottom: 30%;
}
    }

    @media only screen and (min-width: 1220px) {

        .adventure {
            margin: 15px;
            padding: 15px;

            }

            .adventure img {
                max-width: 300px;
            }
    }

    @media only screen and (min-width: 1400px) {

      .hero h1 {
        font-size: 9.0rem;
        line-height: 11rem;
      }

      .adventure img {
        max-width: 375px;
    }

    }

    @media only screen and (min-width: 1600px) {

      .hero h1 {
        font-size: 10.0rem;
        line-height: 12rem;
      }

      .adventure img {
        max-width: 425px;
    }
    }